<%- include("template/cabecera.ejs", {tituloWeb:'Lista Entrenadores'}) %>

  <div class="container">
   <h1 style="text-align:center">Lista de entrenadores</h1>
   
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo Predilecto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Ciudad de Origen</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
      <% if (arrayEntrenador.length> 0) { %>
          <!--Haremos el foreach para recorrer el array-->
          <% arrayEntrenador.forEach(entrenador => { %>
              <tr>
                  <th scope="row"><%= entrenador.id %></th>
                  <td><%= entrenador.nombre %></td>
                  <td><%= entrenador.tipo %></td>
                  <td><%= entrenador.descripcion %></td>
                  <td><%= entrenador.ciudad %></td>
                  <td>
                    <a class="btn btn-warning btn-sm" href="entrenador/<%= entrenador.id %>">Editar/Eliminar</a>
                    </td>
              </tr>
          <% }) %>
      <% } %>
</tbody>

        </table>
        <a class="btn btn-success btn-block my-4" href="/entrenador/crearentrenador">Añadir nuevo entrenador</a>
        <a class="btn btn-danger btn-block my-4" href="/">Volver al Menu</a>
    </div>


<script>
            const btnEliminar = document.querySelector('.btn-danger')
            btnEliminar.addEventListener('click', async () => {
                console.log(btnEliminar.dataset.id)
                try {
                    // https://developer.mozilla.org/es/docs/Web/API/HTMLElement/dataset
                    const data = await fetch(`/entrenadores/${btnEliminar.dataset.id}`, {
                        method: 'delete'
                    })
                    const res = await data.json()
                    console.log(res)
                    if (res.estado) {
                        window.location.href = '/entrenadores'
                    } else {
                        console.log(res)
                    }
                } catch (error) {
                    console.log(error)
                }
            })
</script>

<%- include("template/footer.ejs") %>
